body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.ant-layout-header {
background: rgb(255, 255, 255);
-webkit-box-shadow: 0 2px 8px #f0f1f2;
box-shadow: 0 2px 8px #f0f1f2;
padding: 0 20px; 
border: 1px solid #e8e8e8;
}

.main-wrapper{
  padding: 40px 0 0;
}



.item {
  color: white;
  cursor: pointer;
  height: 200px;
  margin: 20px;
  position: absolute; /* Required by Muuri */
  width: 50%;
}

.muuri-item-dragging {
  z-index: 3;   /* Required by Muuri */
}

.muuri-item-releasing {
  z-index: 2; /* Required by Muuri */
}

.muuri-item-hidden {
  z-index: 0; /* Required by Muuri */
}

.box1 {
  background-color: orange; /* Go */
}

.box2 {
  background-color: blue; /* Gators */
}




/* Carousel */

.slick-dots li button:before{
  font-size: 8px !important;
}

.slick-prev:before, .slick-next:before{
  font-size: 40px !important;
  font-weight: 800 !important;
  opacity: 1 !important;
}

.slick-prev:hover , .slick-next:hover{
  opacity: 0.7 !important;
}

.slick-prev{
  left: -45px !important;
}


/* MENU */

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: white !important;
}

.ant-menu:not(.ant-menu-item-selected){
  color: #858EA9 !important
}

.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
  border-right: 3px solid #1BBFBB !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
  color: #1BBFBB !important;
}

.ant-menu-item-selected{
  color: #343F5C !important;
  font-weight: 500;
}


/* SPIN*/

.ant-spin-dot i{
  background-color: #1bbfbb !important;
}

.ant-spin-lg .ant-spin-dot {
  font-size: 42px !important;
  width: 42px !important;
  height: 42px !important;
}

.ant-spin{
color: #1bbfbb !important
}

.ant-spin-blur{
  opacity: 0.3 !important;
}


/* SELECT */

.ant-select.select-drop{
  margin-left: 10px;
}

.ant-select.select-drop > .ant-select-selection{
  border: none !important
}

/* DROPDOW */

:root .ant-dropdown-trigger > .anticon:not(.anticon-ellipsis), :root .ant-dropdown-link > .anticon:not(.anticon-ellipsis){
  font-size: 16px !important
}



/* ALERT */

.ant-alert-info{
  border: 1px solid #1bbfbb !important;
  background-color: #ddf6f6 !important;
}

/* BUTTON*/

.ant-btn-primary.btn-custom-primary{
  background-color: #1BBFBB !important;
  border-color: #1BBFBB !important;
}



h1.title{
  font-weight: 500;
  color: #343F5C;
}


.card-indicator{
  text-align: center;
  border-radius: 8px;
  min-height: 200px;
}

.container-indicator{
  padding: "0px 15px 10px" !important
}

.btn-details-all{

border-radius: 15px !important;
  background-color: #ddf6f6 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #1bbfbb  ;

}


.card-sub-title{
  font-weight: 500;
  text-align: center;
  background: white;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: 0.5px;
  text-align: center;
  color: #343f5c;
}

.card-details{
    top: 10px;
    right: 10px;
    text-align: right;
    margin-left: auto;
    position: absolute;
}

.btn-card-details{
  color: #b7bac4 !important;
}

.card-number span{
  font-size:3.8vw;
  color: #1bbfbb !important;
  margin-top: 5px;
  height: 54px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.0;
  letter-spacing: 3px;
  text-align: center;
}



::selection {
  background: #1BBFBB !important;
}



.ant-modal-body{
  max-height: calc(100vh - 235px) !important;
  overflow: auto
}

.ant-tag{
  height: 32px !important;
    line-height: 32px !important;
}


.rowContainer{
  padding-top: 10px
}



.ant-btn.ant-btn-primary.christmas:before {
  display: none!important;
}


